@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Ubuntu&display=swap');
:root{
    --col1: #F5EAEA;
    --col2: #FFB84C;
    --col3: #F16767;
    --col4: #A459D1;
    --col5: #E9F1FA;
    --col6: #00ABE4;
    --col7: #0A1828;
}
/*
Colors used: Light blue (#E9F1FA), 
bright blue (#00ABE4), 
white (#FFFFFF)*/
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: var(--col7);
    background-color: var(--col5);
}

html {
    scroll-behavior: smooth;
}

#nav {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 2px 4px 2px #111;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--col6);
    color: rgba(255, 255, 255,0.9);
}

.navigation .logo {
    padding: 10px 0 10px 40px;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 800;
}
.logo h1{
    color: white;
    font-size: 2.7rem;
}
.navigation .nav_links {
    font-size: 1.1rem;
    font-weight: 500;
    width: 45%;
    height: 100%;
    margin: auto 0;
    display: flex;
    justify-content: space-around;
}

.navigation a:link,
.navigation a:active,
.navigation a:visited {
    text-decoration: none;
    color: rgba(255, 255, 255,0.9);
}

li {
    list-style: none;
}

/* li::after {
    content: "";
    width: 0%;
    height: 3px;
    display: block;
    margin: auto;
    background: var(--col4);
    transition: 300ms;
}

li:hover::after {
    width: 100%;
} */

.btn {
    display: none;
}
.btn button{
    padding: 8px 12px;
    color: var(--col6);
    background: rgba(255, 255, 255,0.9);
    border: 1px solid rgba(255, 255, 255,0.9);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
#closebtn{
    display: none;
    padding: 8px 14px;
}

.sec {
    display: flex;
    height: calc(100vh - 77px);
}

.line{
    margin: auto;
    width: 90%;
    height: 1px;
    background-color: #111;
    color: white;
}
.sec1 {
    flex: 1;
    padding-top: 90px;
    font-weight: 700;
}

.title {
    font-size: 4rem;
    padding: 0 0 15px 80px;
}

#name {
    color: var(--col6);
}

.t2 {
    font-size: 2.5rem;
    padding: 1px 1px 25px 80px;
}

.sec p {
    font-size: 1.2rem;
    width: 70%;
    padding: 10px 0 20px 80px;
}

.btns {
    padding: 10px 80px;
}

.btns button {
    cursor: pointer;
    outline: none;
    border: 2px solid var(--col6);
    padding: 14px 18px;
    border-radius: 5px;
    color: white;
    background: var(--col6);
}

.btns button:last-child {
    margin-left: 10px;
    color: var(--col6);
    background: var(--col5);
    border: 2px solid var(--col6);
}

.btns button:hover:first-child{
    color: var(--col6);
    background: var(--col5);
    border: 2px solid var(--col6);
    transition: 0.5s;
}
.btns button:hover:last-child{
    color: var(--col5);
    background: var(--col6);
    transition: 0.5s;
}
.sec2 {
    flex: 1;
    width: 100%;
    display: grid;
    place-items: center;
}

.sec2 img {
    width: 100%;
    z-index: 0;
    margin: -80px 0 0 -80px;
}

.skills{
    width: 100vw;
    height: 100vh;
}

.skills .nav1, 
.qualification .head-part,
.project .head-part {
    padding-top: 120px;
    width: 100%;
    text-align: center;
}

.skills h1,
.qualification h1,
.project h1 {
    font-size: 2.5rem;
}

.skills .nav1 p,
.skills p,
.qualification .head-part p {
    font-size: 1.2rem;
}
.skills .nav1 p,
.qualification .head-part p,
.project .head-part p,
.project .project-box p,
.work p,
.edu p{
    color: rgba(90, 90, 90, 0.8);
}

.skills-sec,
.qualification .edu-work {
    width: 80%;
    margin: auto;
    display: flex;
    padding-top: 40px;
    gap: 60px;
}

.skills-sec .nav2,
.qualification .nav3 {
    text-align: center;
}
.frontend,.backend,.edu,.work{
    color: rgba(255, 255, 255,0.9);
    padding: 40px;
    border-radius: 30px;
    background: rgba(0, 171, 228, 0.8);
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 2px 1px #111,
    10px 10px 20px -10px black;
}
.frontend,
.backend,
.edu,
.work {
    flex: 1;
}

.frontend .frontend-skills,
.backend .backend-skills {
    padding-top: 50px;
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    text-align: center;
}

.frontend .frontend-skills .f-img,
.backend .backend-skills .b-img {
    padding: 15px 0;
}

.frontend img,
.backend img {
    width: 60px;
}
.qualification .head-part,
.project .head-part{
    padding-bottom: 40px;
}
.qualification{
    width: 100vw;
    overflow: hidden;
    padding-bottom: 60px;
}
.qualification .edu-work {
    padding-top: 0px;
}
.edu-box,
.work-box{
    padding-top: 45px;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 45px;
    margin-left: 35%;
}
.edu-work h3{
    padding-bottom: 8px;
}
.edu-work p{
    padding-bottom: 4px;
}
.project{
    width: 100%;
    height: 100vh;
}
.project .project-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 10px 10px 20px -10px black;
}
.project .project-box{
    width: 70%;
    margin: 0 auto;
    gap: 30px;
    display: flex;
}
.project .project-box .project1{
    flex: 1;
}
.project .project-box .project1 p{
    padding: 10px 0;
}
.project .project-box .project1 h3{
    padding-bottom: 3px;
}
.project .project-box .project1 .image{
    aspect-ratio: 16/9;
}
.project a:link,
.project a:active,
.project a:visited {
    text-decoration: none;
    color: var(--col7);
}

@media (width > 1000px){
    li::after {
        content: "";
        width: 0%;
        height: 3px;
        display: block;
        margin: auto;
        background: var(--col4);
        transition: 300ms;
    }
    
    li:hover::after {
        width: 100%;
    }
}
@media (width <= 1000px) {
    .logo h1{
        font-size: 2rem;
    }
    .btn{
        display: block;
        position: absolute;
        top: 16px;
        right: 30px;
    }
    .nav_links a {
        display: none;
        padding: 20px;
    }
    .navigation .nav_links{
        padding: 0 0 380px 0;
        position: absolute;
        background: white;
        top: 64px;
        right: 0;
        height: 100%;
        width: 0px;
        display: grid;
        transition: width 0.3s;
        box-shadow: 25px 25px 80px -35px black;
    }
    .navigation .nav_links .alink{
        color: var(--col7);
        width: 200px;
    }
    .navigation .nav_links .alink:hover{
        color: white;
        background: var(--col6);
        transition: 0.3s;
    }

    .title{
        font-size: 3rem;
    }
    .t2{
        font-size: 2rem;
    }
    .sec p{
        font-size: 1rem;
    }


    .skills {
        height: auto;
        padding-top: 77px;
        padding-bottom: 70px;
    }

    .skills .nav1 {
        padding-top: 60px;
    }

    .skills-sec {
        flex-direction: column;
    }

    .frontend,
    .backend {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .frontend .frontend-skills,
    .backend .backend-skills {
        padding-top: 30px;
        width: 80%;
    }

    .sec1 {
        flex: 1;
        padding-top: 40px;
    }

    .sec2 {
        flex: 0;
    }

    .sec p {
        width: 85%;
    }

    .title,
    #name,
    .t2,
    .sec p,
    .btns {
        padding-left: 25px;
    }
    .qualification{
        height: auto;
    }
    .qualification .edu-work{
        width: 75%;
        flex-direction: column;
        padding-top: 10px;
    }
    .qualification .head-part{
        padding-bottom: 18px;
    }
    .edu-work .work{
        padding-top: 50px;
    }
    .edu-work .edu-box,
    .edu-work .work-box{
        padding-top: 30px;
        margin-left: 0;
    }

    .project{
        height: auto;
    }
    .project .project-box{
        padding-top: 10px;
        flex-direction: column;
        padding-bottom: 40px;
    }
    .project .project-box .project1 p{
        padding: 10px 0;
        padding-top: 12px;
    }
    .project .project-box .project1 h3{
        padding-bottom: 5px;
    }
}